global:
  scrape_interval: 15s
  evaluation_interval: 10s


scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    scrape_interval: 5s
    static_configs:
      - targets: ['docker_host_ip:9100']

  - job_name: 'cadvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['docker_host_ip:8081']


  - job_name: 'telegraf'
    scrape_interval: 5s
    static_configs:
      - targets: ['docker_host_ip:9273']

alerting:
  alertmanagers:
    - static_configs:
      - targets:
        - docker_host_ip:9093

rule_files:
  - "alert.rules"